---
title: Welcome to Project Tracker
---

<div id="home">
  <sidebar id="action">
    <div class="action">
      <i class="fa fa-plus"></i>
    </div><!-- .action -->
    &nbsp;<a href="#">Add Project</a>
  </sidebar>
  <div id="projects">
    <h2>ALL PROJECTS</h2>
    <div class="project-card">
      <h3>Alumni-applicatie</h3>
      <p class="summary">Web application for alumni students</p>
      <p class="last-updated">Last updated on May 27</p>
      <div class="people">
        <%= image_tag "avatar40.gif"  %>
        <%= image_tag "avatar40.gif"  %>
      </div>
    </div>
    <div class="project-card">
      <h3>Alumni-applicatie</h3>
      <p class="summary">Web application for alumni students</p>
      <p class="last-updated">Last updated on May 27</p>
      <div class="people">
        <%= image_tag "avatar40.gif"  %>
        <%= image_tag "avatar40.gif"  %>
      </div>
    </div>
    <div class="project-card">
      <h3>Alumni-applicatie</h3>
      <p class="summary">Web application for alumni students</p>
      <p class="last-updated">Last updated on May 27</p>
      <div class="people">
        <%= image_tag "avatar40.gif"  %>
        <%= image_tag "avatar40.gif"  %>
      </div>
    </div>
    <div class="project-card">
      <h3>Alumni-applicatie</h3>
      <p class="summary">Web application for alumni students</p>
      <p class="last-updated">Last updated on May 27</p>
      <div class="people">
        <%= image_tag "avatar40.gif"  %>
        <%= image_tag "avatar40.gif"  %>
      </div>
    </div>
    <div class="project-card">
      <h3>Alumni-applicatie</h3>
      <p class="summary">Web application for alumni students</p>
      <p class="last-updated">Last updated on May 27</p>
      <div class="people">
        <%= image_tag "avatar40.gif"  %>
        <%= image_tag "avatar40.gif"  %>
      </div>
    </div>
    <div class="project-card">
      <h3>Alumni-applicatie</h3>
      <p class="summary">Web application for alumni students</p>
      <p class="last-updated">Last updated on May 27</p>
      <div class="people">
        <%= image_tag "avatar40.gif"  %>
        <%= image_tag "avatar40.gif"  %>
      </div>
    </div>
  </div><!-- #projects -->
</div><!-- #home -->
